#!/bin/sh

## Required

# Path to your obsidian vault
export VAULT=""

# URL to your netlify site.
export SITE_URL=""

# GitHub repo URL where your Markdown files are hosted.
export REPO_URL=""

# The Markdown file to use as your landing page when home page landing button is
# clicked. Note that if `SLUGIFY` is turned on (default is on), you need to
# slugify the folder name here. E.g. if you are using `/somewhere far/some funny
# note.md` as landing page, enter
# `LANDING_PAGE=/somewhere-far/some-funny-note.md`.
export LANDING_PAGE=""

## Optional

# Site title on landing page. HTML, CSS, emojis supported.
# export SITE_TITLE="Someone's Second 🧠"

# Site title in browser tab, leaving blank to use `SITE_TITLE`. This is for
# people who added HTML code in `SITE_TITLE` but want to display a clean name in
# the browser tab.
# export SITE_TITLE_TAB=""

# Site title on landing page. HTML, CSS, emojis supported.
# export LANDING_TITLE="I love obsidian-zola! 💖."

# Site description on landing page. HTML, CSS, emojis supported.
# export LANDING_DESCRIPTION="I have nothing but intelligence."

# Text to display on button in home page. HTML, CSS, emojis supported. Default:
# export LANDING_BUTTON="Click to steal some👆"

# Site Timezone.
# export TIMEZONE="Asia/Hong_Kong"

# How to sort your pages inside a folder ("title" or "date"). Default:  "title".
# Folders are sorted alphabetically, cannot change this.
# export SORT_BY="title"

# Whether to slugify URLs. Set to "" to disable (use at your own risk, filenames
# with special symbols might not show up correctly in the graph view).
# export SLUGIFY="y"

# Shows knowledge graph on home page. Put "" to disable.
# export HOME_GRAPH="y"

# Shows knowledge graph on every page. Put "" to disable.
# export PAGE_GRAPH="y"

# Page graph only shows directly connected nodes.
# export LOCAL_GRAPH=""

# If "y", clicking on graph link replaces current tab. Else, page is opened in
# new tab.
# export GRAPH_LINK_REPLACE=""

# Whether to use standard Markdown strict line breaks (single line breaks
# ignored unless followed by 2 whitespaces), or to use Obsidian-style line
# breaks. If "y", strict line break is used, else, Obsidian-style is used. Users
# who use LaTEX must set this to "y" for equations to render properly.
# export STRICT_LINE_BREAKS="y"

# Whether sidebar sections should be collapsed by default.
# export SIDEBAR_COLLAPSED=""
