{% extends "base.html" %}

{% block content %}

<div class="content-wrapper">
    <article>
        <div class="metadata">
            <dl>
                <dt>AUTHOR</dt>
                <dd>{{ page.extra.author }}</dd>
                
                <dt>FORMAT</dt>
                <dd>{{ page.extra.format }}</dd>
                
                <dt>RATING</dt>
                <dd>{{ page.extra.rating }}</dd>
                
                <dt>LANGUAGE</dt>
                <dd>{{ page.extra.language }} ← {{ page.extra.original_language }}</dd>
                
                <dt>RECORD</dt>
                <dd>
                {% if page.extra.read %}R:{{ page.extra.read | date(format="%Y-%m-%d") }}{% endif %}
                {% if page.extra.read and page.updated != page.date %} {% endif %}
                {% if page.updated != page.date %}U:{{ page.updated | date(format="%Y-%m-%d") }}{% endif %}
                </dd>
            </dl>
        </div>

        <div class="column-content">
            {{ page.content | safe }}
        </div>

        <footer class="content-footer">
  --- END OF FILE ---
</footer>
    </article>
</div>
{% endblock %}