{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title_addition = config.extra.title_addition | default(value=config.title) %}
  {{ macros_head::seo(title=title_addition, title_addition=title_addition, description=config.description, is_home=true) }}
{% endblock seo %}

{% block content %}

<div class="home">
  <div class="home-background">
    <section class="home-section">
      <h1>{{ section.title | default(value="Modern Documentation Theme") | safe }}</h1>
      <p class="lead">{{ section.extra.lead | default(value="Please start setting config.toml and adding your content.") | safe }}</p>
      {% if section.extra.url_button %}
      <a class="btn-primary" href="{{ get_url(path=section.extra.url | default(value="/")) | safe }}">
        {{ section.extra.url_button | default(value="Read My Brain") | safe }}
      </a>
      {% endif %}
    </section>
  </div>

{% if config.extra.home_graph %}
  <div id="graph"></div>
  {% endif %}
</div>

{% if config.extra.home_graph %}
  {{ macros_graph::graph_js() }}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const container = document.getElementById("graph");
      graph.once("afterDrawing", () => {
        graph.moveTo({
          position: { x: 0, y: -container.clientHeight / 8 },
          scale: 0.5 - (100 / container.clientWidth)
        });
      });
    });
  </script>
{% endif %}
{% endblock content %}
