{% macro header(current_section) %}
<header class="navbar">
	<div class="container">
		<a class="navbar-brand" href="{{ config.base_url | safe }}">{{ config.title | default(value="Site Title") | safe }}</a>
		
		{% if config.extra.menu.main %}
		<nav class="navbar-nav">
			{% for val in config.extra.menu.main %}
			<a class="nav-link{% if current_section == val.section %} active{% endif %}" href="{{ get_url(path=val.url, trailing_slash=true) | safe }}">{{ val.name | safe }}</a>
			{% endfor %}
		</nav>
		{% endif %}
		
		{% if config.build_search_index %}
		<form class="navbar-form">
			<input id="userinput" class="form-control" type="search" placeholder="Search..." aria-label="Search" autocomplete="off">
			<div id="suggestions" class="d-none"></div>
		</form>
		{% endif %}
	</div>
</header>
{% endmacro %}